[Unit]
Description=Tautulli - Stats for Plex Media Server usage

[Service]
ExecStart={{ tautulli_dir }}/Tautulli.py --quiet --daemon --nolaunch --config {{ tautulli_dir }}/config.ini --datadir {{ tautulli_dir }}
GuessMainPID=no
Type=forking
User={{ tautulli_user }}
Group={{ tautulli_group }}

[Install]
WantedBy=multi-user.target