#!/bin/bash
default="$1"
session="$2"
hash="$3"
name="$4"
directory="$5"
base_path="$6"
tied_to_file="$7"
is_multi_file="$8"
label="$9"
display_name="${10}"

if [[ ! -z "$label" ]]
then
    target="{{ storage_device_mount_point }}/Plex/$label"
    echo -n "$target"
fi
