# {{ ansible_managed }}
server {
        root /var/www/html;
        server_name {{ freedns_domains | map(attribute='name') | join(' ') }};
        location / {
                try_files $uri $uri/ =404;
        }
        location /rutorrent {
                auth_basic "Restricted Content";
                auth_basic_user_file /etc/nginx/.htpasswd;
        }
        location /RPC2 {
                include scgi_params;
                scgi_pass localhost:5000;
        }
        location ~ \.php$ {
               include snippets/fastcgi-php.conf;
               fastcgi_pass unix:/var/run/php/php7.0-fpm.sock;
        }
}
